<div class="w-[1200px] h-[1024px] relative">
    <div class="left-[24px] top-[84px] absolute flex-col justify-start items-start gap-5 inline-flex">
        <div class="flex-col justify-start items-start gap-[19px] flex">
            <div class="h-8 px-3 py-1 bg-violet-100 rounded-[20px] justify-center items-center gap-2.5 inline-flex">
                <div class="justify-center items-center gap-1 flex">
                    <div class="w-2 h-2 relative"></div>
                    <div class="text-blue-600 text-xs font-normal font-['Nunito Sans'] leading-tight">
                        To Do
                    </div>
                    
                </div>
            </div>
            
        </div>
        
        
        <div class="flex-col justify-start items-start gap-6 flex">
            <div class="w-[270px] h-8 px-2 py-2.5 bg-violet-100 rounded-lg justify-center items-center gap-1 inline-flex">
                <div class="w-3 h-3 relative"></div>
                <div class="px-2 justify-center items-center gap-2.5 flex">
                    <div class="text-blue-600 text-xs font-normal font-['Nunito Sans'] leading-tight">
                        <a routerLink="forms">+  Add new</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-0 w-0 ">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="left-[318px] top-[84px] absolute flex-col justify-start items-start gap-5 inline-flex">
        <div class="flex-col justify-start items-start gap-[19px] flex">
            <div class="h-8 px-3 py-1 bg-pink-50 rounded-[20px] justify-center items-center gap-2.5 inline-flex">
                <div class="justify-center items-center gap-1 flex">
                    <div class="w-2 h-2 relative"></div>
                    <div class="text-pink-500 text-xs font-normal font-['Nunito Sans'] leading-tight">
                        In Progress
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-col justify-start items-start gap-6 flex">
            <div class="w-[270px] h-8 px-2 py-2.5 bg-pink-50 rounded-lg justify-center items-center gap-1 inline-flex">
                <div class="w-3 h-3 relative"></div>
                <div class="px-2 justify-center items-center gap-2.5 flex">
                    <div class="text-pink-500 text-xs font-normal font-['Nunito Sans'] leading-tight">
                        <a routerLink="forms"> + Add new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left-[612px] top-[84px] absolute flex-col justify-start items-start gap-5 inline-flex">
        <div class="flex-col justify-start items-start gap-[19px] flex">
            <div class="h-8 px-3 py-1 bg-blue-50 rounded-[20px] justify-center items-center gap-2.5 inline-flex">
                <div class="justify-center items-center gap-1 flex">
                    <div class="w-2 h-2 relative"></div>
                    <div class="text-sky-400 text-xs font-normal font-['Nunito Sans'] leading-tight">In Review</div>
                </div>
            </div>
        </div>
        <div class="flex-col justify-start items-start gap-6 flex">
            <div class="w-[270px] h-8 px-2 py-2.5 bg-sky-50 rounded-lg justify-center items-center gap-1 inline-flex">
                <div class="w-3 h-3 relative"></div>
                <div class="px-2 justify-center items-center gap-2.5 flex">
                    <div class="text-sky-400 text-xs font-normal font-['Nunito Sans'] leading-tight">
                        <a routerLink="forms"> + Add new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left-[906px] top-[84px] absolute flex-col justify-start items-start gap-5 inline-flex">
        <div class="flex-col justify-start items-start gap-[19px] flex">
            <div class="h-8 px-3 py-1 bg-green-100 rounded-[20px] justify-center items-center gap-2.5 inline-flex">
                <div class="justify-center items-center gap-1 flex">
                    <div class="w-2 h-2 relative"></div>
                    <div class="text-green-600 text-xs font-normal font-['Nunito Sans'] leading-tight">Completed</div>
                </div>
            </div>
        </div>
        <div class="flex-col justify-start items-start gap-6 flex">
            <div class="w-[270px] h-8 px-2 py-2.5 bg-green-100 rounded-lg justify-center items-center gap-1 inline-flex">
                <div class="w-3 h-3 relative"></div>
                <div class="px-2 justify-center items-center gap-2.5 flex">
                    <div class="text-green-600 text-xs font-normal font-['Nunito Sans'] leading-tight">
                        <a routerLink="forms"> + Add new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-[1200px] px-6 py-4 left-0 top-0 absolute border-b border-violet-100 justify-start items-center gap-2.5 inline-flex">
        <div class="text-neutral-800 text-lg font-semibold font-['Nunito Sans'] leading-7">My Projects</div>
    </div>
</div>

