<div class="flex">
<div class="w-60 h-[1024px] bg-white shadow">
  <div class="w-60 h-[292px] flex-col justify-start items-start gap-6 inline-flex">
    <div class="w-60 px-6 py-4 border-b border-violet-100 justify-start items-center gap-2.5 inline-flex">
        <div class="w-5 h-5 relative"></div>
        <div class="text-neutral-800 text-lg font-bold font-['Nunito Sans'] leading-7">Task boards</div>
    </div>
    <div class="h-[152px] px-2.5 flex-col justify-start items-start gap-2.5 flex">
        @for(item of arraypro(); track item){
          <div class="self-stretch px-6 py-2.5 bg-violet-100 rounded-lg justify-start items-center gap-2.5 inline-flex"> <div class="text-neutral-800 text-base font-normal font-['Nunito Sans'] leading-normal">
            </div> 
          
            
              <button (click)="itemclicked($event)">{{item}}</button>
            
          
         
          </div>
        }
        
        
    </div>
    <div class="self-stretch h-8 px-6 py-2.5 bg-white border-t border-violet-100 justify-start items-center gap-2.5 inline-flex">
        <div class="w-3 h-3 relative"></div>
        <div class="text-blue-600 text-xs font-normal font-['Nunito Sans'] leading-tight">
          <button routerLink="newproject" >+  new Project</button></div>
    </div>
</div>
</div>

<app-myprojects></app-myprojects>
</div>